.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.text1 {
  color: #343240;
  text-align: center;
  font-family: Canela;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 1.4px;
}

.text2 {
  color: #343240;
  text-align: center;
  font-family: Canela;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.8px;
}

.container label {
  color:#5f5e66;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.64px;
}

.container input {
  border-radius: 3px;
  border: 1px solid #5f5e66;
  background: #f9f5f2;
}

.formInput {
  display: flex;
  flex-direction: column;
}

.group {
  display: flex;
  gap: 10px;
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 42px;
  position: fixed;
  bottom: 20%;
  left: 0;
}

.buttons button {
  border-radius: 50px;
  width: 100px;
  padding: 10px 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.18px;
  background-color: #ff9887;
}

.buttons button:nth-child(1) {
  background-color: white;
  color: #ff9887;
  border: 1px solid #ff9887;
  transition: all 0.5s;
}

.buttons button:nth-child(1):hover {
  background-color: #ff9887;
  color: white;
  border: none;
}

.buttons button:nth-child(2):hover {
  background-color: transparent;
  color: #ff9887;
  border: 1px solid #ff9887;
}

.link1{
    display: flex;
    color: #ff9887;
    text-decoration: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.link1:hover{
    color: white;
}


