.chartContainer{
  max-height: 258px;
  min-width: 100%;
}

.chart{
  width: 100%;
  height: auto;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}