.container {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  margin-right: 170px;
  margin-left: 170px;
  padding-bottom: 16px;
  border-bottom: 1px solid black;
  position: relative;
}

.section1 {
  display: flex;
}

.logo {
  width: 55px;
  height: 55px;
  background-color: grey;
  border-radius: 50%;
  margin-right: 14px;
}

.locationdate {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.date {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
}


.section2 {
    gap: 24px;
    width: auto;
    height: auto;
}

.button {
  background-color: transparent;
}

.button:hover {
  background-color: transparent;
}

.location {
  color: #000;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.overview{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 16px;
}

.text1 {
  color: rgba(0, 0, 0, 0.4);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text2 {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
