.gantt {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  overflow: hidden;
  padding-bottom: 5px;
  min-height: 258px;
  gap: 16px;
  position: relative;
}

.gantt .data {
  border-radius: 3rem;
  width: 100%;
  position: relative;
}

.gantt .head {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.ganttContainer{
  margin-top: 16px;
}
.line {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: grey;
  top: 30px;
}

.line-1 {
  left: 8.33%;
}
.line-2 {
  left: 16.66%;
}
.line-3 {
  left: 25%;
}
.line-4 {
  left: 33.33%;
}
.line-5 {
  left: 41.66%;
}
.line-6 {
  left: 50%;
}
.line-7 {
  left: 58.33%;
}
.line-8 {
  left: 66.66%;
}
.line-9 {
  left: 75%;
}
.line-10 {
  left: 83.33%;
}
.line-11 {
  left: 91.66%;
}
.line-12 {
  left: 0;
}
.line-13 {
  right: 0;
}
