body {
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
}

.header {
  width: 100%; /* Ensure header takes full width */
  margin: 0
}

/* MainContainer.css */

.container {
  display: flex; /* Use flexbox for layout */
  height: 100vh; /* Full height */
}

nav {
  width: 200px; /* Fixed width for the navbar */
}

.content {
  flex-grow: 1; /* Allow content to take the remaining space */
  padding: 20px; /* Add some padding to the content area */
  overflow-y: auto; /* Allow scrolling if content is taller than the viewport */
  display: flex; /* Flexbox for aligning items within content */
  flex-direction: column; /* Stack components vertically */
  align-items: center; /* Center items horizontally */
}
