@font-face {
    font-family: RobotoMono-VariableFont_wght;
    src: url(../../../public/assets/images/Font/RobotoMono-VariableFont_wght.ttf);
}
.globe-icon {
    font-size: 34px;
    color: #000000;

}

.header-title {
    font-size: 34px;
    font-weight: bold;
    color: #333;
    font-family: RobotoMono-VariableFont_wght;

}

.bell-icon {
    font-size: 20px;
    cursor: pointer;
}

/* .rounded-circle {
    font-size: 20px;
    cursor: pointer;
} */

.flag-icon {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

